<div class="row">
  <p>Thank you <%= @quote_request.name.capitalize %>,  your request has been submited.</p>
  <p>One of our representative will call you on the phone #<%= @quote_request.phone %>!</p>
</div>