
<div class="columns large-6 large-offset-3 medium-8 medium-offset-2 small-12">
  <%= form_for @admin, url: {action: "create", method: "post"} do |f| %>
    <div><%= f.label :email %></div>
    <div><%= f.email_field :email %></div>
    <div><%= f.submit "Add Admin", class: "button radius small" %></div>
  <% end %>
</div>
