<div class="columns large-9 large-offset-1">
  <div class="columns large-10 large-offset-1 medium-8 medium-offset-2 small-6 small-offset-3">
  <div class="large-offset-1">
    <h2 class="secondary-title">Please enter the email of the new admin:</h2>
  </div>

    <%= render "admins/new_admin" %>
</div>