<div class="container columns large-9 large-offset-1 small-7 medium-8">

  <div class="large-offset-1">
    <h2 class="secondary-title">Please enter the email of the new admin:</h2>
  </div>

    <%= render "admins/new_admin" %>
</div>