
<div class="row">
  
  <h2 class="secondary-title"><%= @admin.email %></h2>
  <h2 class="secondary-title">Manage:</h2>

  <ul class="admin-menu">
    <li>Your <%= link_to "credentials", edit_admin_registration_path %></li>  
    <li><%= link_to "Add admin", new_admin_path%></li>
  </ul>

</div>
