<div class="banner-background">
  <div class="row">


  </div>
</div>
  
<div class="under-banner">
  <div class="row">
    <h2 id="about-us">About us:</h2>
    <p>
      We are a small business with the experience and knowledge of a big company. Generally one or two employees.
    </p>
    <hr>
  </div>
  <div class="row">
    <h2 id="services">Services Offered:</h2>
    <p>Install, repair and dustless refinish hardwood floors ( using mostly odorless high quality products that are safe for everybody's health). We provide Buff&Coat services for the floors that are in relatively good shape and need to be revitalized and have the luster restored. Install and refinish staircases and railings. Install baseboards and crownmoldings that come in some cases atached to the new flooring installations. Install Laminate and engineered flooring (both floating and glued down).</p>  
  </div>

  <div class="row" id="quote-request">
    
  </div>
</div>
