<div class="banner-background">
  <div class="row inside-banner" align="center">
    <p class="promise">Can the floors of your dreams become the floors in your house?</p>
    <p class="promise">Ask us about it:</p>
    <%= link_to "Request a Quote", new_quote_request_path, id: "quote-center-link", class: "request-quote-link", data: {"reveal-id" => "small-modal"} %>
  </div>
</div>
  
<div class="under-banner">
  <div class="row">
    <h2 class="secondary-title" id="about-us">About us:</h2>
    <p>
      We are a small business with the experience and knowledge of a big company. Generally one or two employees.
    </p>
    <hr>
  </div>
  <div class="row">
    <h2 class="secondary-title" id="services">Services Offered:</h2>
    <p>Install, repair and dustless refinish hardwood floors (using mostly odorless high quality products that are safe for everybody's health). We provide Buff&Coat services for the floors that are in relatively good shape and need to be revitalized and have the luster restored. Install and refinish staircases and railings. Install baseboards and crownmoldings that come in some cases atached to the new flooring installations. Install Laminate and engineered flooring (both floating and glued down).</p>  
  </div>
</div>

<footer id="footer">
  <div class="row">
    <p id="footer-content">&copy 2014 CBFlooringInc. All Rights Reserved. </p>
  </div>        
</footer>
