<div class="columns large-9 large-offset-1">
  <h2 class="secondary-title">Customers List:</h2>
  <ul id="customers-list">
    <% @customers.each do  |customer| %>
      <li><%= link_to customer.name, customer_path(customer) %> |  Phone:  <%= customer.phone %></li>
    <% end %>
  </ul>
</div>