<div class="row">
  <h2>Albums:</h2>
  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
    <% @albums.each do |album| %>
      <li>
        <p class="album-title"><%= album.title %>:</p>
        <%= link_to image_tag(album.images.last.image_path(:thumb)), album_path(album) %>
      </li>
    <% end %>
  </ul>

  <%= link_to "New Album", new_album_path, class: "button small radius" %>
</div>