<div class="row">
  <h2><%= @album.title %></h2>

  <p>Description:</p>
  <p><%= @album.description %></p>
  <p>Images:</p>

  <% if !@images.empty? %>
    <div class="columns large-12">
      <ul class="example-orbit" data-orbit>
        <% @images.each_with_index  do |image, index| %>
          <li>
            <%= image_tag image.image_path, alt: "slide #{index + 1}" %>
            <% if !image.description.empty? %>
              <div class="orbit-caption">
                <%= image.description %> 
              </div>
            <% end %>        
          </li>
        <% end  %>
      </ul>
    </div>
  <% end %>
</div>



