.sign-out-link {
  float: right;
}

#image{
  margin: 2em 0 ;
}

.bottom-menu {
  list-style: none;
  li {
    display: inline;
  }
}

.back-button {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(30,30,30,0.5);
  -moz-box-shadow: 5px 5px 5px 0px rgba(30,30,30,0.5);
  box-shadow: 5px 5px 5px 0px rgba(30,30,30,0.5);
}

.spaced {
  margin-right: 1em;
}