.navbar {
  display:table;
  background-color: #5B4D3D;
  height: 15%;
  width: 100%;
  z-index: 5;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);

  li{
    display:table-cell; 
    vertical-align:middle;
    padding: 0em 2em;
  }
}
.logo-area {
  margin: 0 auto;
  display: inline-block;
}
.title-area{
  margin: 0 auto;
  display: inline-block;
  height: 4.5em;
}

#nav-links-list {
  display: inline;
}



#logo{
  width: 300px;
  -webkit-transition: background 0.4s;
  -moz-transition:    background 0.4s;
  -ms-transition:     background 0.4s;
  -o-transition:      background 0.4s;
  transition:         background 0.4s; 
  max-width: 100%;
  &:hover{
    -webkit-transition: background 0.4s;
    -moz-transition:    background 0.4s;
    -ms-transition:     background 0.4s;
    -o-transition:      background 0.4s;
    transition:         background 0.4s; 
    background: #665644;
  }
}

.nav-link {
  font-family: 'Old Standard TT', Arial, sans-serif;
  font-size: 1.5em;
  color: #FFAE48;
  text-shadow: 5px 5px 5px rgba(30, 30, 30, 1);
  -webkit-transition: color 0.2s;
  -moz-transition:    color 0.2s;
  -ms-transition:     color 0.2s;
  -o-transition:      color 0.2s;
  transition:         color 0.2s;
  &:hover{
    color: #FFE0B0;
    -webkit-transition: color 0.2s;
    -moz-transition:    color 0.2s;
    -ms-transition:     color 0.2s;
    -o-transition:      color 0.2s;
    transition:         color 0.2s;
  }
}

.banner-background {
  -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.5);
  box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.5);
  width: 100%;
  height: 85%;
  background-image: url("wood_background.jpg");
  background-size: cover;
  background-position:left top;
  position:relative;
  overflow: auto;
}

.inside-banner { 
  position: relative;
  top:10%;
  p {  
    color: #FFF4AE;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 6px 6px 5px rgba(30, 30, 30, 1);
  }
}

.under-banner {
  -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.5);
  box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.5);
}
.secondary-title {
  font-family: inherit;
  text-shadow: 2px 2px 3px rgba(30, 30, 30, 0.7);
}

a#quote-center-link{
  color: #FFF4AE;
  font-size: 2em;
  padding: 0.2em;
  border: 2px solid #FFF4AE;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition:    box-shadow 0.3s;
  -ms-transition:     box-shadow 0.3s;
  -o-transition:      box-shadow 0.3s;
  transition:         box-shadow 0.3s;

  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);

  background: rgba(10,10,10, 0.2);

  &:hover {
    color: #FFFFEA;
    border: 2px solid #FFFFEA;

    -webkit-transition: box-shadow 0.3s;
    -moz-transition:    box-shadow 0.3s;
    -ms-transition:     box-shadow 0.3s;
    -o-transition:      box-shadow 0.3s;
    transition:         box-shadow 0.3s;
    
    background: rgba(10,10,10, 0.5);

    -webkit-box-shadow: 0px 0px 10px 3px rgba(207,205,207,1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(207,205,207,1);
    box-shadow: 0px 0px 10px 3px rgba(207,205,207,1);
  }
}

#footer {
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(bottom, #AD9374 0%, #5B4D3D 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(bottom, #AD9374 0%, #5B4D3D 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(bottom, #AD9374 0%, #5B4D3D 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #AD9374), color-stop(1, #5B4D3D));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(bottom, #AD9374 0%, #5B4D3D 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to top, #AD9374 0%, #5B4D3D 100%); 
  
  -webkit-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.5);
  text-align: center;
  color: #FFF4AE;

  position:absolute;
  width:100%;  
}

#footer p#footer-content{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.close-reveal-modal:hover {
  color: #666;
}




@media screen and(min-width: 581px) and(max-width: 868px){
  #logo{
    width: 5em;
  }

  .nav-link {
    font-size: 1em;
  }


  .navbar li {
    padding: 0 0.5em;
  }


  .title-area {
    height: 3em;
  }

  .inside-banner {
    top: 5%;
    p {
      font-size: 1.3em;
    }
  }

  .under-banner {
    padding: 0 0.5em;
  }
}

@media screen and(min-width: 445px) and(max-width: 580px){
  #logo{
    width: 5em;
  }

  .nav-link {
    font-size: 1em;
  }

  .navbar li {
    padding: 0 0.5em;
  }

  .navbar {
    text-align: center;
  }

  .title-area {
    height: 3em;
  }

  .inside-banner {
    top: 5%;
    p {
      font-size: 1.3em;
    }
  }

  .under-banner {
    padding: 0 0.5em;
  }
}

@media screen and(max-width: 445px){
  #logo{
    width: 5em;
  }

  .nav-link {
    font-size: 1em;
  }

  .navbar li {
    padding: 0 0.5em;
  }

  .navbar {
    text-align: center;
  }

  .title-area {
    height: 2em;
  }

  .inside-banner {
    top: 5%;
    p {
      font-size: 1.3em;
    }
  }

  .under-banner {
    padding: 0 0.5em;
  }
}



