// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #FFFFEA;
  font-family: 'Old Standard TT', Arial, sans-serif;

}

.back-button {
  margin-top: 2em;
}

.reveal-modal {
  background-color: #FFFFEA;
}

.album-thumb {
  padding: 0.2em;
  outline: 1px solid black;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition:    box-shadow 0.3s;
  -ms-transition:     box-shadow 0.3s;
  -o-transition:      box-shadow 0.3s;
  transition:         box-shadow 0.3s;
  &:hover {
    -webkit-transition: box-shadow 0.3s;
    -moz-transition:    box-shadow 0.3s;
    -ms-transition:     box-shadow 0.3s;
    -o-transition:      box-shadow 0.3s;
    transition:         box-shadow 0.3s;
    
    -webkit-box-shadow: 0px 0px 12px 2px rgba(235,148,54,1);
-moz-box-shadow: 0px 0px 12px 2px rgba(235,148,54,1);
box-shadow: 0px 0px 12px 2px rgba(235,148,54,1);
  }
}