.quites-list {
  list-style: none;
}

#quote-submit {
  background-color: #7F3E2A;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.5);
box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.5);
  &:hover{
    background-color: #A44C12;
  }
}