<div class="columns large-2 small-5 medium-3" id="admin-menu" align="center">
  <h3 class="secondary-title">Menu:</h2>
  <ul id="admin-nav">
    <li><%= link_to "Admin Menu", admin_show_path, class: "nav-link" %></li>
    <li><%= link_to "Albums" , albums_admin_index_path , class: "nav-link" %></li>
    <li><%= link_to "Customers", customers_path, class: "nav-link" %></li>
    <li><%= link_to "QRequests", quote_requests_path, class: "nav-link" %></li>
    
  </ul>
</div>
